<div class="container">

  <table class="table table-striped">
      <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Min Price </th>
          <th>Max Price</th>
      </thead>
      <tbody>
          <tr *ngFor="let product of products">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.minPrice}}</td>
              <td>{{product.maxPrice}}</td>
              <td><button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                  <button class="btn btn-primary" (click)="updateProduct(product)">Edit</button></td>

          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary" (click)="newProduct()">New Product</button>
</div>