<div class="container">

  <form (ngSubmit)="processForm()">
      <div class="form group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="product.name">
      </div>
      <div class="form group">
          <label for="description">Description</label>
          <input type="text" name="description" class="form-control" [(ngModel)]="product.description">
      </div>
      <div class="form group">
        <label for="minPrice">Min Price</label>
        <input type="text" name="minPrice" class="form-control" [(ngModel)]="product.minPrice">
    </div>
    <div class="form group">
        <label for="maxPrice">Max Price</label>
        <input type="text" name="maxPrice" class="form-control" [(ngModel)]="product.maxPrice">
    </div>
      <input type="submit" value="save" class="btn btn-success">
  </form>
</div>